.piece {
  width: 100%;
  height: 100%;
  background-size: contain;
  cursor: grab;
  /* With a transform the square background is not dragged.  No idea why. */
  transform: translate(0, 0);
}

.piece.dragging:active {
  opacity: 0.5;
  cursor: grabbing;
}

.square {
  flex: 1;
}
